{% assign navurl = site.baseurl %}
{% if page.lang != "en" %}
{% assign navurl = site.baseurl | append: "lang/"| append: page.lang | append: "/" %}
{% endif %}
<header>
  <nav>
    <div class="wrapper">
      <div class="logo">
        <a href="{{ navurl }}index">
          <img alt="Main Pirate Chain Logo" src="{{ site.baseurl }}{{ site.img }}logo/Pirate_Logo_main.svg" />
        </a>
      </div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn">
          <img alt="" src="{{ site.baseurl }}{{ site.img }}icons/x.svg" />
        </label>
        <li>
          <a href="{{ navurl }}wallets">{{ site.data.languages.list[page.lang].wallets }}</a>
        </li>
        <li>
          <a href="{{ navurl }}mining">{{ site.data.languages.list[page.lang].mining }}</a>
        </li>
        <li>
          <a href="{{ navurl }}warrr">{{ site.data.languages.list[page.lang].warrr }}</a>
        </li>
        <li>
          <a href="{{ navurl }}exchanges">{{ site.data.languages.list[page.lang].exchanges }}</a>
        </li>
        <li>
          <a href="{{ navurl }}community">{{ site.data.languages.list[page.lang].community }}</a>
        </li>
        <li>
          <a href="#" class="desktop-item">
            {{ site.data.languages.list[page.lang].resources }}
            <img alt="" src="{{ site.baseurl }}{{ site.img }}icons/caret.svg" />
          </a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">
            {{ site.data.languages.list[page.lang].resources }}
            <img alt="" src="{{ site.baseurl }}{{ site.img }}icons/caret.svg"/>
          </label>
          <div class="mega-box">
            <div class="nav-content">
              <div class="row">
                <img src="{{ site.baseurl }}{{ site.img }}navbar/pcf.jpg" alt="Pirate Flag">
              </div>
              <div class="row">
                <header>
                  {{ site.data.languages.list[page.lang].community }}
                </header>
                <ul class="mega-links">
                  <li>
                    <a href="https://medium.com/piratechain">
                      <img alt="Pirate Chain Medium Publication" src="{{ site.baseurl }}{{ site.img }}icons/medium.svg" />
                      {{ site.data.languages.list[page.lang].news }}
                    </a>
                  </li>                  
                  <li>
                    <a href="https://twitter.com/PirateChain">
                      <img alt="Pirate Chain Twitter Profile" src="{{ site.baseurl }}{{ site.img }}icons/twitter.svg" />
                      {{ site.data.languages.list[page.lang].twitter }}
                    </a>
                  </li>
                  <li>
                    <a href="https://discord.gg/V56SH5xzZB">
                      <img alt="Pirate Chain Discord Server" src="{{ site.baseurl }}{{ site.img }}icons/discord.svg" />
                      {{ site.data.languages.list[page.lang].discord }}
                    </a>
                  </li>
                  <li>
                    <a href="https://t.me/piratechain/">
                      <img alt="Pirate Chain Telegram Account" src="{{ site.baseurl }}{{ site.img }}icons/telegram.svg" />
                      {{ site.data.languages.list[page.lang].telegram }}
                    </a>
                  </li>
                  <li>
                    <a href="community#socials">
                      <img alt="All Pirate Social Platforms" src="{{ site.baseurl }}{{ site.img }}icons/socials.svg" />
                      {{ site.data.languages.list[page.lang].socials }}
                    </a>
                  </li>
                </ul>
              </div>
              <div class="row">
                <header>
                  {{ site.data.languages.list[page.lang].network }}
                </header>
                <ul class="mega-links">
                  <li>
                    <a href="https://explorer.pirate.black/">
                      <img alt="Pirate Chain Network Block Explorer" src="{{ site.baseurl }}{{ site.img }}icons/cubes.svg" />
                      {{ site.data.languages.list[page.lang].explorer }}
                    </a>
                  </li>
                  <li>
                    <a href="https://explorer.pirate.black/stats">
                      <img alt="Statistics of teh Pirate Network" src="{{ site.baseurl }}{{ site.img }}icons/chart.svg" />
                      {{ site.data.languages.list[page.lang].stats }}
                    </a>
                  </li>
                  <li>
                    <a href="https://anonset.dexstats.info/">
                      <img alt="Pirate Chain Annon Set" src="{{ site.baseurl }}{{ site.img }}icons/secret.svg" />
                      {{ site.data.languages.list[page.lang].anonset }}
                    </a>
                  </li>
                  <li>
                    <a href="https://dexstats.info/piratehash.php">
                      <img alt="ARRR Mining Hash Rate" src="{{ site.baseurl }}{{ site.img }}icons/pickaxe.svg" />
                      {{ site.data.languages.list[page.lang].hashrate }}
                    </a>
                  </li>
                  <li>
                    <a href="https://komodostats.com/ecomap/smartchain/PIRATE">
                      <img alt="Pirate Chain Network Nodes" src="{{ site.baseurl }}{{ site.img }}icons/network.svg" />
                      {{ site.data.languages.list[page.lang].nodes }}
                    </a>
                  </li>
                </ul>
              </div>
              <div class="row">
                <header>
                  {{ site.data.languages.list[page.lang].resources }}
                </header>
                <ul class="mega-links">
                  <li>
                    <a href="{{ navurl }}whitepaper">
                      <img alt="Pirate Network Whitepaper" src="{{ site.baseurl }}{{ site.img }}icons/file.svg" />
                      {{ site.data.languages.list[page.lang].whitepaper }}
                    </a>
                  </li>
                  <li>
                    <a href="{{ navurl }}branding">
                      <img alt="Branding Guideline" src="{{ site.baseurl }}{{ site.img }}logo/Pirate_Logo_Ship_Gold.svg" />
                      {{ site.data.languages.list[page.lang].branding }}
                    </a>
                  </li>
                  <li>
                    <a href="{{ navurl }}https://warrr.io">
                      <img alt="wARRR Bridge" src="{{ site.baseurl }}{{ site.img }}icons/rotate.svg" />
                      {{ site.data.languages.list[page.lang].bridge }}
                    </a>
                  </li>
                  <li>
                    <a href="{{ navurl }}donations">
                      <img alt="Pirate Community Donations" src="{{ site.baseurl }}{{ site.img }}icons/heart.svg" />
                      {{ site.data.languages.list[page.lang].donations }}
                    </a>
                  </li>
                  <li>
                    <a href="{{ navurl }}contact" class="support">
                      <img alt="Pirate Community Support" src="{{ site.baseurl }}{{ site.img }}icons/people.svg" />
                      {{ site.data.languages.list[page.lang].support }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="lang">
          <a href="#" class="desktop-item">
            <img alt="Language Selector" src="{{ site.baseurl }}{{ site.img }}icons/lang.svg" />
          </a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">
            <img alt="Language Selector" src="{{ site.baseurl }}{{ site.img }}icons/lang.svg" />
            Language
          </label>
          <ul class="drop-menu">            
            {% for language in site.data.languages.list %}
              {% if language[0] == "en" %}
                <li>
                  <a href="{{ site.baseurl }}{{ page.name | replace:'.html',''}}">
                    English
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="{{ site.baseurl }}lang/{{ language[0] }}/{{ page.name | replace:'.html',''}}">
                    {{ language[1].name }}
                  </a>
                </li>
              {% endif %}            
            {% endfor %}
          </ul>
        </li>
      </ul>
      <label for="menu-btn" class="btn menu-btn">
        <img alt="menu" src="{{ site.baseurl }}{{ site.img }}icons/bars.svg" />
      </label>
    </div>
  </nav>
</header>