<strong>
    <span class="moneymade">
      {{ site.data.languages.list[page.lang].money }} 
      {{ site.data.languages.list[page.lang].made }}
    </span>
  <span  class="txt-rotate" 
    data-period="2500"
    data-rotate='[ 
      "{{ site.data.languages.list[page.lang].private }}", 
      "{{ site.data.languages.list[page.lang].fungible }}", 
      "{{ site.data.languages.list[page.lang].trustless }}", 
      "{{ site.data.languages.list[page.lang].borderless }}", 
      "{{ site.data.languages.list[page.lang].secure }}",
      "{{ site.data.languages.list[page.lang].scarce }}",
      "{{ site.data.languages.list[page.lang].decentralized }}",
      "{{ site.data.languages.list[page.lang].fair }}", 
      "{{ site.data.languages.list[page.lang].yours}}!"
    ]'>
  </span>
</strong>