/* ----- branding section ----- */

.brand-section {
    padding-top: 80px;
}
.content h2 {
    margin-bottom: 30px;
}
.brand-section .a-btn{
    margin: auto;
    margin-top: 30px;
}  
.brand-section p{
    font-family: var(--pirate-font-primary);
    max-width: 600px;
    font-size: 18px;
}
@media screen and (max-width:550px) {
    .box {
        float: none;
        width: 100%;
        text-align: center;
    }
    .box-right {
        margin-top: 40px;
        float: none;
        width: 100%;
        text-align: center;
    }
} 

/* ----- controls ----- */
.color-picker {
    display: inline-block;
    background-color: var(--pirate-deepblue);
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
}
@media screen and (max-width:530px) {
    .color-picker {
        display: block;
        max-width: 170px;
    }
} 
.color-picker img{
   margin: 0px 5px;
   position: relative;
   top: 5px;
}
.color-picker img:hover{
    cursor: pointer;
} 
.color-picker form {
    display: inline-table;
}

/* ----- toggle switch ----- */
.toggle-control {
    display: inline-block;
    position: relative;
    top: -15px;
    left: 5px;
    padding-left: 62px;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-family: var(font3);
  }
  .toggle-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .toggle-control input:checked ~ .control {
    background-color: var(--pirate-calmseas);
  }
  .toggle-control input:checked ~ .control:after {
    left: 25px;
  }
  .toggle-control .control {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 50px;
    border-radius: 12px;
    background-color: var(--pirate-calmseas);
    transition: background-color 0.15s ease-in;
  }
  .toggle-control .control:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 18px;
    height: 18px;
    border-radius: 12px;
    background: var(--pirate-cloud);
    transition: left 0.15s ease-in;
  }
  
/* ----- logo section ----- */
.logo-section {
    padding-top:120px;
    padding-bottom: 140px;
}
.logo-section .logo-container {
    padding: 20px 80px;
    text-align: center;;
    background-color: var(--pirate-deepblue);
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
@media screen and (max-width:800px) {
    .logo-section .logo-container {
        padding: 20px 20px;
    }
}
.logo-section .logo-container .logo-box {
    display: inline-block;   
    height: 300px;
    width: 100%;
    max-width: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;  
    cursor: pointer;
}
@media screen and (max-width:740px) {
    .logo-section .logo-container {
        padding: 20px 20px;
    }
    .logo-section .logo-container .logo-box {
        height: 200px;
    }
}

/* ----- art section ----- */
.art-section {
    padding-top: 120px;
    padding-bottom: 180px;
}
.art-section .art-container {
    padding: 60px 80px;
    text-align: center;;
    background-color: var(--pirate-navyblue);
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.art-section .art-container img {
    width: auto;
    max-height: 140px;
    display: inline-block;
    margin: 0px 15px;
    cursor: pointer;
}
.art-section .color-picker {
    background-color: var(--pirate-navyblue);
}

/* ----- colors section ----- */
.colors-section {  
    padding-top: 120px;
    padding-bottom: 0px;

}
.colors-section .divider-bottom {
    margin-top: 100px;
    margin-bottom: 0px;
    position:relative;
    top: 20px;
} 
.colors-section .cbox-container {
    width: 100%;
    margin: auto;
    text-align: left;
    display: flex;
} 
.colors-section .cbox-container .cbox {
    background-color: rgb(255,255,255,0.04);
    margin-right: 20px;
    border-radius: 15px;
    padding: 20px 20px 45px;
    text-align: left;
    width: 100%;
}
.colors-section .cbox-container .cbox ul {
    padding: 0;
    list-style-type: none;
    font-size: 16px;
}
.colors-section .cbox-container .cbox svg {
    width: 60px;
    height: 60px;
    position: relative;
    top: 20px;
}
.colors-section .code {
    display: inline-block;
    margin: 0px 30px;
    padding: 8px 16px;
    border: 1px solid var(--pirate-neon);
    width: 180px;
    text-align: center;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:1120px) {
    .colors-section .cbox-container .cbox {
        text-align: center;
    }    
    .colors-section .code  {
        display: block;
        margin: auto;
    } 
    .colors-section .cbox-container .cbox svg {
        top: 0px;
        margin: 30px auto 5px;     
    }
} 
@media screen and (max-width:460px) {
    .colors-section .cbox-container {
        display: block;
    } 
    .colors-section .cbox {
        margin-top: 20px;
    }
} 

/* ----- fonts section ----- */
.fonts-section {
    padding-top: 40px;
    padding-bottom: 120px;
}
.fonts-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.fonts-section ul {
    max-width: 700px;
}

.fonts-section h3{
    margin-top: 30px;;
}