
/* ----- header video section ----- */
.header-section {
    padding:0px;
    -webkit-filter: drop-shadow(0px 0px 60px #000000e0);
    filter: drop-shadow(0px 0px 60px #000000e0);
}
.header-section .video-container {
    width: 100%;    
    margin:auto;
    position: relative;   
    top: -1px;
}
.header-section video {
  position:absolute;top:0;left:0;width:100%;height:100%;
}
.overlay {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;   
    z-index: 1;
    background-color: rgba(19, 13, 1, 0.5);
}
.msg-container {
    display: block;
    position: absolute;
    top: 100px;
    left: 2%;
    z-index: 2;
    color: var(--pirate-cloud);
    font-size: 14px;
    font-weight: 100;
    font-family: var(--pirate-font-alternative);
    margin-right: 20px;
}
.msg-container .msg {
    padding: 32px;
    z-index: 9;
    width: 100%;
    max-width: 700px;
    border: none;
    background-color: rgba(188, 193, 197, 0.05);
    box-shadow: 6px 6px 20px rgba(2,2,2,0.3);
    backdrop-filter: blur(10px);
    margin-right: 20px;
    border-radius: 10px;
}
.msg-container .msg h1 {
    color: var(--pirate-cloud);
    margin-top: 0px;
    font-size: 32px;
    font-weight: 200;
}
@media screen and (max-width:800px) {
  .msg-container {
    display: none;
  }
}


/* ----- videos section ----- */
.videos-section {
  text-align: center;
  padding-top: 120px;
}
.videos-section .logo {
  width: 100%;
  max-width: 360px;
  margin-bottom: 70px;
  -webkit-filter: drop-shadow(0px 0px 64px rgba(255, 201, 52, 0.11));
  filter: drop-shadow(0px 0px 64px rgba(255, 201, 52, 0.11));
}
.videos-section .content {
  margin: auto;
  max-width: 1900px;
}
.video-box {
  display: inline-block;
  background-image: url(../img/thumbnails/ytplaceholder.png);
  background-repeat: none;
  background-position: center;
  background-size: fit;
  width:560px;
  height: 372px;
  padding: 0px 0px;
  line-height: 13px;
  -webkit-filter: drop-shadow(15px 20px 15px rgba(0, 0, 0, 0.281));
  filter: drop-shadow(15px 20px 15px rgba(0, 0, 0, 0.281));
  border-radius: 15px;
  margin: 30px 20px;
  position: relative;
  transition: all .3s ease-in-out;
  border: 10px solid #2b2f3e;
}
.video-box:hover {
  transform: translateY(-10px)
}
.video-box a {
  display: inline-block;
  width: 100%;
  background-color: var(--dark);
  color: var(--pirate-doubloon);
  padding: 20px 0px;
  text-align: center;
  font-weight: 200;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.video-box a:hover {
  color: var(--dark);
  background-color: var(--pirate-doubloon);
  font-weight: bold;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: all;
}
.video-box iframe {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0px 0px ;
  position: absolute;
  top: 0px;
  left:0px;
  border: none;
}
@media screen and (max-width:660px) {
  .video-box {
    width: 468px;
    height: 317px;
  }  
  .video-box iframe  {
    width: 448px;
    height: 252px;
  }
} 
@media screen and (max-width:500px) {
  .video-box {
    width: 356px;
    height: 255px;
  }  
  .video-box iframe  {
    width: 336px;
    height: 190px;
  }
} 
@media screen and (max-width:440px) {
  .video-box {
    width: 244px;
    height: 184px;
  }  
  .video-box iframe  {
    width: 224px;
    height: 116px;
  }
} 
.lol {  
  display: block;
  margin: 160px auto 40px;
  max-width: 650px;
  height: 400px;
  padding: 0px;
  position: relative;
  border: 2px solid var(--pirate-doubloon);
  border-radius: 15px;
  width: 100%;
  -webkit-filter: drop-shadow(0px 0px 64px rgba(255, 201, 52, 0.11));
  filter: drop-shadow(0px 0px 64px rgba(255, 201, 52, 0.11));
}
.lol:hover {
  transform: translateY(0px);
}
.lol .featured {
  background-color: var(--pirate-doubloon);
  color: var(--pirate-leviathan);
  position: absolute;  
  font-size: 16px;
  padding: 10px 40px 10px;
  top: -35px;
  left: 20px;
  border-radius: 15px 15px 0 0;
  font-weight: 700;
}
.lol iframe {  
  display: block;
  margin: 0px auto 4px;
  width: 100%;
  max-width: 650px;
  height: 400px;
  border-radius: 15px;
}
.fade {
  transition: opacity 0.7s ease-in;
}
.fadeOut { opacity: 0; }
.fadeIn { opacity: 1; }


/* ----- socials ----- */
.socials-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.socials-section .content {
  text-align: center;
  color: var(--pirate-cloud);
}
.socials-section .social-container {
  margin-top:100px;
}
.socials-section h2{
  color: var(--pirate-doubloon);
  margin-bottom:20px;
  font-weight: 400;
}
.socials-section .social {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  max-width: 180px;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;    
}
.socials-section .social img {
  width: 100%;
  max-width: 140px;
  transition: transform .5s ease-in-out;
}
.socials-section .social img:hover {
  transform: rotate(360deg);
}

/* ----- divider ----- */
.divider_wrapper {
  padding-bottom: 30px;
  padding-top: 80px;
}
.divider {
  position: relative;
  margin-top: 0px;
  height: 1px;
}
.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right,transparent,var(--pirate-doubloon),transparent);
}
.div-arrow-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: var(--pirate-cloud);
  border-bottom: 1px solid var(--pirate-doubloon);
  border-right: 1px solid var(--pirate-doubloon);
}