.sub-hl {
    font-size: 18px;
}
.sub-hl b {
    color: var(--pirate-cloud);
    font-weight: 700;
}
.headline {
    color: var(--pirate-cloud);
    font-size: 48px;
    font-family: var(--pirate-font-primary);
    line-height: 1;
    margin-bottom: 20px;
}

/* ----- hero-section ----- */
.hero-section {
    overflow-x:hidden; 
    position: relative;
    text-align: center;
    padding-bottom: 320px;
    padding-top: 80px;
    background-color: var(--pirate-navyblue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.hero-section .content {
    margin-top: 0;
    padding-top: 0;
}
.hero-section .bottom-divider {
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
}
.hero-section .header-box {
    display: inline-block;
    position: relative;
    top: 180px;
    text-align: left;
    margin-left: 40px;
    width: 100%;
    max-width: 560px;
    overflow: visible;
    white-space: nowrap;
}
.hero-section .header-box img {
    width: 100%;
    max-width: 240px;
}
.hero-section .header-box .tagline {    
    font-size: 20px;
    font-weight: 500;
    font-family: var(--pirate-font-alternative);
    margin-top: 10px;
    margin-bottom: 40px;
    color: var(--pirate-cloud);    
}
.hero-section .header-box strong {    
    font-size: 34px;
    font-weight: 700;
    font-family: var(--pirate-font-alternative);
    margin-top: 0px;
    margin-bottom: 40px;
    color: var(--pirate-cloud);
}
.hero-section .header-box .a-btn {
    padding-top: 5px;
    padding-bottom: 5px;
}
.hero-section .header-box .download {
    margin-top: 40px;
    color: var(--pirate-leviathan);
    background-color: var(--pirate-doubloon);
    border: 1px solid var(--pirate-leviathan);
    width: 140px;
    padding: 5px 0px;
    text-align: center;
    margin-right: 10px;
    font-weight: 700;    
}
.hero-section .header-box .chat {
    margin-top: 40px;
    color: var(--pirate-doubloon);
    background-color: var(--pirate-leviathan);
    width: 140px;
    border: 1px solid var(--pirate-doubloon);
    padding: 5px 0px;
    text-align: center;      
}
.hero-section .graphic-container {
    width: 100%;
    max-width: 500px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 20px;
    height: 500px;
}
.hero-section .graphic-container .astro-pirate {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    max-width: 330px;
}
.hero-section .graphic-container .treasure-moon {
    position: absolute;
    top: 0px;
    left: -120px;
    width: 100%;
    max-width: 220px;
    filter: blur(1px); 
}
.hero-section .moneymade {
    display: inline-block;
}
.hero-section .txt-rotate {
    display: inline-block;
}

@media screen and (max-width:1200px) {
    .hero-section .graphic-container {
        height: 100px;
    }
    .hero-section .header-box {
        max-width: 500px
    }
    .hero-section .graphic-container .astro-pirate {
        max-width: 320px;
    }
    .hero-section .graphic-container .treasure-moon {
        max-width: 210px;
        left:-100px;
    }
    .hero-section {
        height: 800px
    }
}
@media screen and (max-width:1100px) {
    .hero-section .graphic-container {
        height: 100px;
    }
    .hero-section .header-box {
        max-width: 400px
    }
    .hero-section .graphic-container .astro-pirate {
        max-width: 310px;
    }
    .hero-section .graphic-container .treasure-moon {
        max-width: 200px;
        left:-100px;
    }
}
@media screen and (max-width:990px) {
    .hero-section .graphic-container {
        height: 100px;
        margin-top: 50px;
        max-width: 450px;
    }
    .hero-section .header-box {
        max-width: 300px
    }
    .hero-section .graphic-container .astro-pirate {
        max-width: 300px;
        left: 120px;
    }
    .hero-section .graphic-container .treasure-moon {
        max-width: 200px;
        left:0px;
    }
    .hero-section .header-box img {
        max-width: 280px;
    }
    .hero-section .header-box p {    
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .hero-section .header-box strong {    
        font-size: 32px;
    }
}
@media screen and (max-width:860px) {
    .hero-section .graphic-container {
        height: 100px;
        margin-top: 50px;
        max-width: 400px;
    }
    .hero-section .header-box {
        max-width: 300px
    }
    .hero-section .graphic-container .astro-pirate {
        max-width: 290px;
        left: 90px;
    }
    .hero-section .graphic-container .treasure-moon {
        max-width: 190px;
    }
    .hero-section {
        height: 740px
    }
    .hero-section .header-box img {
        max-width: 250px;
    }
    .hero-section .header-box p {    
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .hero-section .header-box strong {    
        font-size: 30px;
    }
}
@media screen and (max-width:790px) {
    .hero-section .graphic-container {
        height: 100px;
        margin-top: 50px;
        max-width: 400px;
        top: 20px;
    }
    .hero-section .header-box {
        display: block;
        top: 60px;
        text-align: center;
        margin: auto;
        width: 100%;
        max-width: 600px;
        overflow: hidden;
        white-space: normal;
        padding-bottom: 40px;
    }
    .hero-section .graphic-container .treasure-moon {
        max-width: 180px;        
    }
    .hero-section {
        height: 1100px;
        background-image: none;
    }
    .hero-section .header-box img {
        max-width: 250px;
    }
    .hero-section .header-box p {    
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
    .hero-section .header-box strong {    
        font-size: 30px;
        margin-left: 0px;
    }
    .hero-section .moneymade {
        display: block;
    }
    .hero-section .txt-rotate {
        margin-top:20px;
        display: block;
        height: 20px;
    }
}
@media screen and (max-width:380px) {
    .hero-section .graphic-container  {
        left: 0;
    }
    .hero-section .graphic-container .treasure-moon  {
        left:0px;
    }
    .hero-section .graphic-container .astro-pirate  {
        left: 60px; 
        max-width: 280px;  
    }
}
@media screen and (max-width:340px) {
    .hero-section .header-box .chat {
        margin: auto;
        margin-top: 10px;
    }
    .hero-section .header-box .download {
        margin: auto;
        margin-top: 20px;
    }
}

/* ----- intro-section ----- */
.intro-section {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
}
.intro-section h1 {
    margin-bottom: 90px;
}
.intro-section iframe {
    display: block;
    margin: auto;
}
.yt-container {
    position:relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;  
    margin: auto; 
    width: 560px; 
    height: 315px;
    max-width: 560px;
    text-align: center;
    z-index: 500;
    border-radius: 15px;
}
.yt-container iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: none; 
}
#whatspc {     
    background-image: url("../img/thumbnails/explainer.png");
}
.intro-section .keyword-container {
    margin-top: 120px;
    width: 100%;
}
.intro-section .keyword-box {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    height: 260px;
    padding-top: 10px;
    vertical-align: top;
    margin: 10px 20px;
    margin-bottom: 80px;
}
.intro-section .keyword-box img {
    height: 80px;
    margin-bottom: 20px; 
    -webkit-filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 1));
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 1));
    transition: transform .5s ease-in-out;
}
.keyword-box img:hover{
  transform: rotate(360deg);
}
.intro-section .keyword-box h3  {
    font-size: 28px;
    font-weight: 200;
    color: var(--pirate-cloud);
    margin-bottom: 20px; 
}
@media screen and (max-width:840px) {
    .intro-section .keyword-box {
        height: 100%;
    }
}
@media screen and (max-width:600px) {
    .yt-container {
        width: 360px; 
        height: 250;             
    }
    .intro-section h1 {
        margin-bottom: 40px;
    }
    .intro-section .keyword-container {
       margin-top: 0px;
    }
    .intro-section .keyword-box {
        margin: 15px 0px 80px;
    }
}
@media screen and (max-width:400px) {
    .intro-section h1 {
        margin-bottom: 0px;
    }
    .yt-container {
        width: 300px; 
        height: 200px;     
    }
}
@media screen and (max-width:340px) {
    .yt-container {
        width: 100%; 
        height: 200px;     
    }
}

/* ----- wallet-section ----- */
.wallet-section {
    padding-top: 160px;
    padding-bottom: 320px;
}
.wallet-section .box-right {
    margin-top: 50px;
    max-width: 500px;
}
.wallet-section .a-btn {
    margin-top: 30px;
}
.wallet-section .cell-container {
    position: relative;
    width: 100%;
    border-radius: 50%;
}
.wallet-section .cell-container .cell1 {
    width: 100%;
    max-width: 200px;
    position: absolute;
    top: 00px;
    left: 160px;
    -webkit-filter: drop-shadow(12px 0px 7px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(12px 0px 7px rgba(0, 0, 0, 0.1));
}
.wallet-section .cell-container .cell2 {
    width: 100%;
    max-width: 180px;
    position: absolute;
    top: 20px;
    left: 350px;
    -webkit-filter: drop-shadow(12px 12px 7px #304aa848);
    filter: drop-shadow(0px 0px 60px #304aa848);
}
.wallet-section .cell-container .cell3 {
    width: 100%;
    max-width: 185px;
    position: absolute;
    top: 10px;
    left: 0px;
    -webkit-filter: drop-shadow(12px 12px 7px #304aa848);
    filter: drop-shadow(0px 0px 60px #304ba848);
}
@media screen and (max-width:1050px) {
    .wallet-section .cell-container .cell1 {
        max-width: 160px;
        left: 133px;
    }
    .wallet-section .cell-container .cell2 {
        max-width: 144px;
        left: 287px;
    }
    .wallet-section .cell-container .cell3 {
        max-width: 148px;
        top: 8px;
        left: 0px;
    }
    .wallet-section .box-right {
        margin-top: 40px;
    }
}
@media screen and (max-width:900px) {
    .wallet-section .box {
        width: 100%;
        max-width: 300px;
        float: none;
        display: block;
        margin: auto;
    }
    .wallet-section .box-right {
        margin-top: 50px;
        float: none;
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 20px;
        width: 100%;
        max-width: 400px;
    }
    .wallet-section .cell-container .cell1 {
        max-width: 124px;
        left: 100px;
    }
    .wallet-section .cell-container .cell2 {
        max-width: 110px;
        left: 200px;
    }
    .wallet-section .cell-container .cell3 {
        max-width: 120px;
        left: 0px;
        top: 10px;
    }
    .wallet-section .cell-container {
        height: 290px; 
        max-width: 300px;
    }
    .wallet-section {
        padding-top: 80px;
        padding-bottom: 220px;
    }
}

/* ----- social-section ----- */
.social-section {
    margin: 0px;
    text-align: center;
    padding: 0;
    height: 580px;
    z-index: 5;
    background-image: url("../img/site/rigging.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.social-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(21, 19, 38, 0.95);
}
.social-section .discord-container {
    z-index: 5;
    text-align: center;
    width: 100%;
    z-index: 5;
    position: relative;
}
.social-section h3 {
    margin-bottom: 10px;
}
.social-section .discord-disk {
    position: absolute;
    top: -10px;
    left:0;
    right:0;
    z-index: 5;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-bottom: 60px;
    padding: 40px 10px;
    justify-content: space-around;
    border-radius: 500px;
    height: 600px;
    width: 600px;
    background-color: #23232d;
    align-items: center;
    border: 10px solid #2b2f3e;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    transition-property: all;
    box-shadow: 0px 0px 50px -4px rgba(2,2,2,0.83);
}
@media screen and (max-width:660px) {
    .social-section .discord-disk {
        border-radius: 10px;
        width: 100%;
        margin: 0px 6px 0px 0px;
    }
}
.social-section .discord-disk:hover {
    border-color: #5865e8;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: wiggle; 
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25%  { transform: rotate(-5deg); }
    50%  { transform: rotate(4deg); }
    75%  { transform: rotate(-3deg); }
    100%   { transform: rotate(0deg); }   
}
.social-section .discord-disk img {
    width: 100%;
    max-width: 300px;
    margin-top: 100px;
    margin-bottom: 40px;
}
.social-section .discord-disk .a-btn {
    margin-top: 40px;
}

/* ----- projects-section ----- */
.projects-section {
    padding-top: 250px;
    padding-bottom: 100px;
}
.projects-section .headline-container {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: auto;
}

.projects-section .projects-container {
    margin-top: 80px;
    width: 100%;
    text-align: center;
}
.projects-section .project-box {
    display: inline-block;
    color: var(--pirate-fog);
    padding: 20px;
    border: 6px solid #282838;
    background-color: #1b1b2b;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transition-property: all;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;
    padding-bottom: 30px;
    box-shadow: 0px 10px 20px -3px rgba(2,2,2,0.47);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    min-height: 300px;
    height: 100%;
    vertical-align: top;  
    margin: 10px 20px 10px 0px;
    position: relative;
}
.projects-section .project-box p {
    margin: 10px 10px 20px;
}
.projects-section .project-box:hover {
    border: 6px solid var(--pirate-doubloon);
    -webkit-filter: grayscale(0);
    filter: none;    
}
.projects-section .project-box .project-logo {
    height: 90px;
    width: 100%;
    max-width: 310px;
    position: relative;
    margin: auto;
    text-align: left;
}
.projects-section .project-box img {
    max-height: 90px;
    max-width: 100%;
    width: 90%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@media screen and (max-width:640px) {
    .projects-section .project-box {
        margin: 10px 0px;          
    }
}

/* ----- boxes animation ----- */
.boxes div {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff
}
.boxes div:nth-child(1) {
    top: 70%;
    left: 10%;
    animation: box-animate 10s infinite
}
.boxes div:nth-child(2) {
    top: 20%;
    left: 80%;
    animation: box-animate 9s infinite
}
.boxes div:nth-child(3) {
    top: 50%;
    left: 50%;
    animation: box-animate 6s infinite
}
.boxes div:nth-child(4) {
    top: 80%;
    left: 60%;
    animation: box-animate 15s infinite
}
.boxes div:nth-child(5) {
    top: 30%;
    left: 30%;
    animation: box-animate 9s infinite
}
.boxes div:nth-child(6) {
    top: 90%;
    left: 90%;
    animation: box-animate 12s infinite
}
.boxes div:nth-child(7) {
    top: 80%;
    left: 30%;
    animation: box-animate 2s infinite
}
.boxes div:nth-child(8) {
    top: 40%;
    left: 20%;
    animation: box-animate 2s infinite
}
.boxes div:nth-child(9) {
    top: 50%;
    left: 80%;
    animation: box-animate 2s infinite
}
@keyframes box-animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1
    }
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0
    }
}
@media screen and (max-width:640px) {
    .boxes {
       display: none;           
    }
}

/* ----- medium-section ----- */
.medium-section {
    padding-top: 140px;
    padding-bottom: 80px;
}
.update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.update a {
    color: var(--pirate-fog);
}
.update h2 {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;    
}
.update article {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255,255,255,0.03);
}
.update-post {
    width: 100%;
    max-width: 500px;
    -webkit-box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.4);
    border: 10px solid #2b2f3e;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    transition-property: all;
    border-radius: 5px;
}
.update-img {
    max-width: 100%;
}
.update-content {
    padding: 0.8rem;
}
.update-preview {
    font-size: 0.95rem;
    font-weight: 300;
}
.update-title {
    margin-top: 0;
    font-size: 1.4rem;
    color: var(--pirate-doubloon);
}
.update-intro {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.update-info {
    font-weight: 300;
}
.update-author {
    font-size: 0.9rem;
}
.update-date {
    font-size: 0.85rem;
}