/* ----- privcy policy and terms----- */
.terms-section h2 {
    color: var(--pirate-doubloon);
    font-weight: 300;
    margin: 40px 0px;
    margin-top: 60px;
}
.terms-section p {
    margin-bottom: 20px;
}
.terms-section h3 {
    margin-top: 40px;
    font-weight:300;
}