.hl-red {
    font-weight: bold;
    color: var(--red-highlight);
}
.divider-bottom {
    position: relative;
    top: 10px;
}

/* ----- warrr section ----- */
.warrr-section .content {
    padding: 0px;
    margin: 0px auto;
    height: 85vh; 
}
.warrr-section {
    position: relative;   
    padding-top: 80px;
    height: 100vh;
}    
.warrr-section .bg {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../img/site/warrrbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;  
    opacity: .4;
    width: 100%;
    height: 100%;
}
.warrr-section .header-tag {
    margin-top: 69px;    
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    border-radius: 39% 61% 13% 87% / 33% 27% 73% 67%;
    padding: 20px 40px 0px 70px;
    width: 100%;
    max-width: 740px;
    border: 12px solid var(--red-highlight);
    background-color: var(--pirate-deepblue);
    box-shadow: 22px 25px 60px rgba(0,0,0,0.85);
    text-align: center; 
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;  
    overflow: hidden;
}
@media screen and (max-width:740px) {
    .warrr-section .header-tag {
        border-radius: 20% 20% 20% 20%;
        padding: 0px;
        max-width: 500px;  
        margin: auto;      
    }
}
.warrr-section .header-tag .tag-contents {
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 110px;
    text-align: left;
}
.warrr-section .header-tag .tag-contents h1 {
    color: var(--pirate-cloud);
    margin-bottom: 20px;
    font-size: 64px;
}
.warrr-section .header-tag .tag-contents p {
    font-size: 24px;
    color: var(--pirate-fog);
    line-height: 26px;
} 
.warrr-section .header-tag .tag-contents .action {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 24px;
    color: var(--pirate-cloud);
}

/* ----- defi section ----- */
.defi-section {
    padding-top: 200px;
}
.defi-section h1 {
    color: var(--pirate-cloud);
    margin-bottom: 40px;
}
.defi-section p {
    margin-bottom: 20px;
}
.coinpurse {
    position: relative;
    width: 300px;
    height: 100%;
    margin: auto;
    display: block;
}
.coinpurse .pirate-coin {
    width: 100%;
    max-width: 140px;
    position: absolute;
    top: 0px;
    display: block;
}
.coinpurse .binance-coin {
    width: 100%;
    max-width: 130px;
    position: absolute;
    left: 150px;
    top: 50px;
    filter: blur(1.5px);
    display: block;
}
.coinpurse .ethereum-coin {
    width: 100%;
    max-width: 110px;
    position: absolute;
    left: 100px;
    top: 160px;
    filter: blur(2px);
    display: block;
}
@media screen and (max-width:900px) {
    .defi-section .box {
        float: none;
        margin: auto;
        width: 100%;
        max-width: 700px;
    } 
    .defi-section .box-right {
        padding-top: 0px;
        float: none;
        margin: auto;
        display: inline-block;
    }
    .defi-section {
        padding-top: 100px;
    }
    .coinpurse {
        margin-top: 80px;
        padding-bottom: 180px;
    }
}

/* ----- bridge section ----- */
.bridge-section {
    padding-top: 200px;
    padding-bottom:220px;
}
.yt-container {
    position: relative; 
    padding-bottom: 56.25%;   
    height: 0; 
    overflow: hidden; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    display:block;  
    margin: auto;  
    max-width: 560px;
    border-radius: 15px;
}
.yt-container iframe{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: none;
    border-radius: 15px;
}
#bridge-howto {    
    z-index: 5;
    background-image: url("../img/thumbnails/bridge-howto.png");
}
.bridge-desc {
    margin-top: 40px;
    margin-left: 40px;    
}
.bridge-desc h1 {
    color: var(--pirate-cloud);
    margin-bottom: 40px;
}
.bridge-desc .a-btn {
    margin-top: 30px;
}
@media screen and (max-width:1100px) {
    .bridge-section .box-container {
        display: block; 
        width: 100%;       
    } 
    .bridge-section  .bridge-desc .a-btn {
        display: block;
        max-width: 300px;
        margin:30px auto;
    }   
    .bridge-section {
        padding-bottom: 0px;
    } 
    .yt-container {
        top: -80px;
    }
    .bridge-section  .box {
        float: none;
    }
    .bridge-section .yt {
        width: 100%;    
        margin-top: 40px;
    }
    .bridge-section  .box-right {
        float: none;
        width: 100%;
        max-width: 620px;
        margin: auto;
    }
}
@media screen and (max-width:870px) {
    .bridge-section {
        padding-bottom: 80px;
    } 
    .yt-container {
        top: 0px;
    }
}

/* ----- details-section ----- */
.details-section {
    margin:0px;
    padding:0px;
    padding-top: 60px;
 
}
#eth-details {
    position: relative;
    z-index:100;
    opacity: 0;
    animation: fade 1.6s;
    -webkit-transition: opacity 800ms, visibility 800ms;
            transition: opacity 800ms, visibility 800ms;
}
#bsc-details { 
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
    animation: fade 1.6s;
    -webkit-transition: opacity 800ms, visibility 800ms;
            transition: opacity 800ms, visibility 800ms;
    z-index:101;
}
 ----- toggle switch ----- */
.switch #eth-label {
    opacity: 0.5;
    transition: all 0.5s;
}
.switch #bsc-label {
    opacity: 1;
    transition: all 0.5s;
}
.switch {
    display: block;
    color: var(--pirate-doubloon);
    font-family: var(--pirate-font-tertiary);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    background-color: var(--pirate-deepblue);
    padding: 30px 30px 5px;
    position: relative;
    top: 0px;
    border-radius: 40px 40px 0px 0px;  
    margin: 60px auto 0px; 
    width: 300px; 
    text-align: center;
}
.switch form {
    display: inline-table;
    margin: 0px 5px;
}
.toggle-control {
    display: inline-block;
    position: relative;
    top: -15px;
    left: 5px;
    padding-left: 78px;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-family: var(--pirate-font-tertiary);
  }
.toggle-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.toggle-control input:checked ~ .control {
    background-color: rgba(187,150,69,0.2);
}
.toggle-control input:checked ~ .control:after {
    left: 40px;
}
.toggle-control .control {
    position: absolute;
    top: 0px;
    left: 0;
    height: 28px;
    width: 69px;
    border-radius: 12px;
    background-color: rgba(187,150,69,0.2);
    transition: background-color 0.15s ease-in;
}
.toggle-control .control:after {
    content: "";
    position: absolute;
    left: -2px;
    top: -1px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: var(--pirate-doubloon);
    transition: left 0.15s ease-in;
}

/* ----- tokenomics section ----- */
.tokenomics-section {
    padding: 0px 0px 0px;  
}
.tokenomics-section .middle-box{
    max-width: 1040px;
}
.tokenomics .network-logo {
    max-height: 80px;
    width: 100%;
}
.tokenomics img {
    max-width: 400px;
    margin: 10px;
}

.tokenomics-section .tokenomics {
    background-image: linear-gradient(var(--pirate-deepblue) 45%,transparent);
    text-align: center;
    color: var(--pirate-leviathan);
    width: 100%;
    padding-top: 60px;
    padding-bottom: 20px;
    border-radius: 40px;
}
.tokenomics-section .tokenomics a {
    color: var(--pirate-neon);
    font-weight: bold;
}
.tokenomics-section .tokenomics a:hover{
    color: var(--pirate-cloud);
}
.tokenomics-section .tokenomics h1{
    margin: 40px auto 80px;
    color: var(--pirate-cloud);
}
.tokenomics-section .tokenomics h2{
    font-weight: bold;
    color: var(--pirate-leviathan);
    margin: 40px 0px 0px;
}
.tokenomics-section .tokenomics ul{
    margin: 20px 0px 20px 30px;
}
.tokenomics-section li {
    font-family: var(--pirate-font-primary);
    font-weight: 500;
}
.tokenomics-section .left-card {
    display: inline-block;
    background-image: linear-gradient(35deg,#e6c66e ,var(--pirate-doubloon) 60%);
    transform: rotate(-3deg);
    height: 560px;
    width: 100%;
    max-width: 360px;
    border-radius: 20px;
    text-align: left;
    border-radius: 20px;
    padding: clamp(6px,3vw,2rem);
    padding-bottom: 60px;
    word-wrap: break-word;
}
.tokenomics-section .left-card img{
    width: 100%;
    max-height: 90px;
    margin: auto;
    margin-top: 20px;
    display: block;
    -webkit-filter: drop-shadow(6px 10px 18px rgba(109, 62, 5, 0.3));
    filter: drop-shadow(6px 10px 18px rgba(0, 0, 0, 0.3));
}
.tokenomics-section .left-card a{
    color: var(--pirate-cloud);
}
.tokenomics-section .right-card {
    display: inline-block;
    vertical-align: top;
    background-image: linear-gradient(#856eea,#5b4aa5);
    transform: rotate(3deg);
    height: 560px;
    width: 100%;
    max-width: 360px;
    border-radius: 20px;
    text-align: left;
    border-radius: 20px;
    padding: clamp(6px,3vw,2rem);
    padding-bottom: 60px;
    word-wrap: break-word;
}
.tokenomics-section .right-card img{
    width: 100%;
    max-height: 90px;
    margin: auto;
    margin-top: 20px;
    display: block;
    -webkit-filter: drop-shadow(0px 20px 40px rgba(48, 26, 2, 0.2));
    filter: drop-shadow(6px 10px 18px rgba(0, 0, 0, 0.3));
}
@media screen and (max-width:400px) {
    .tokenomics-section .right-card {
        max-width: 300px;
    } 
    .tokenomics-section .left-card{
        max-width: 300px;
    }
    .tokenomics-section {
        padding: 0px 0px 0px;  
    }
}

/* ----- setup section ----- */
.setup-section {
    padding-bottom: 140px;
    padding-top: 100px;
}
.setup-section .content {
    max-width: 1000px;
    padding-left: 20px;
}
.setup-section .box div{
    display: block;
    margin: auto;
    max-width: 360px;       
} 
.setup-section .box h1 {
    color: var(--pirate-cloud);
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 1;
}
.setup-section .box ul {
    list-style: none;
}
.setup-section .box img {
    width: 100%;
    max-width: 30px;
    display: inline-block;
    margin-right: 10px;
}
.setup-section .box a,
.setup-section .box button {
    padding: 0px 10px 0px 20px;
    font-family: var(--pirate-font-alternative);
    font-size: 18px;
    margin: 20px 0px;
    background-color: #24243a;
    color: #9ca9bf;
    border: 1px solid #4f527c;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    text-align: left;
    transition-duration: .2s;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
}
.setup-section .box a:hover,
.setup-section .box button:hover {
    border: 1px solid var(--pirate-neon);
}

.setup-section .box-right {
    text-align: center;
    padding-top: 30px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
.setup-section .box-right img {
    display: block;
    width: 100%;
    max-width: 240px;
    margin: auto;
    -webkit-filter: drop-shadow(0px 20px 40px rgba(255, 137, 2, 0.2));
    filter: drop-shadow(0px 20px 40px rgba(255, 137, 2, 0.2));
}
.setup-section .box-right:hover {
    transform: rotate3d(-70,70,46,45deg);
    cursor: grab;
}
@media screen and (max-width:750px) {
    .setup-section .box h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }
    .setup-section .box {
        float: none;
        margin: auto;
        width: 100%;
    } 
    .setup-section .box div{
        display: block;
        margin: auto;
        max-width: 300px;       
    } 
    .setup-section .box-right {
        padding-top: 0px;
        float: none;
        margin: auto;
    }
    .setup-section .box-right img { 
        margin-bottom: 40px;
        max-width: 200px;
    }    
    .setup-section .content {

        padding-left: 0px;
    }
}

/* ----- gas section ----- */
.gas-section {
    padding-top: 180px;
    padding-bottom: 0px;
}
.gas-section .divider-bottom {
    margin-top: 90px;
}
.gas-section h1 {
    color: var(--pirate-cloud);
    margin-bottom: 30px
}
.gas-section iframe {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: auto;
}
@media screen and (max-width:900px) {
    .gas-section .box {
        float: none;
        margin: auto;
        width: 100%;
    } 
    .gas-section .box-right {
        padding-top: 0px;
        float: none;
        margin: auto;
        width: 100%;
        max-width: 600px;
    }
    .gas-section iframe {
        margin-top: 80px
    }
    .gas-section {
        padding-top: 100px;
    }
}

/* ----- staking section ----- */
.staking-section {
    padding-top: 100px;
    padding-bottom: 180px;
    margin-bottom: 0px;
}
.staking-section h1 {
    color: var(--pirate-cloud);
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}
.staking-section a {
    margin-top: 20px;
    margin-right: 15px;
}
.staking-section h3 {
    color: var(--pirate-cloud);
    margin-bottom: 30px;
}
.staking-section .middle-box {
    margin-bottom: 60px;
}
.staking-section .middle-box .pancake{
    color: var(--pancake-blue);
}
.staking-section .middle-box .pancake-img{
    width: 100%;
    max-width: 20px;
    position: relative;
    top: 4px;
}
.staking-section .staking-guide {
    
    margin: 100px auto 100px;
    display: block;
    padding: 0;
}
.staking-section .staking-guide img {
    width: 100%;
    padding: 0;
    margin: auto;
    display: block;
    height: 100%;
    border: none;
    border: 10px solid #2b2f3e;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    transition-property: all;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}
.staking-section .staking-guide img:hover {
    border-radius: 0px;
    border: 1px solid var(--pirate-calmseas);
    max-width: 415px;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;   
}
.staking-section .box-container {
    margin-top: 80px;
}
.staking-section .box {
    margin: 0px; 
    border: 1px solid var(--pancake-blue);  
    padding: 30px;
}
.staking-section .a-btn {
    width: 265px;
}
@media screen and (max-width:900px) {
    .staking-section .box {
        float: none;
        margin: auto;
        width: 100%;
        max-width: 700px;
    } 
    .staking-section .box-right {
        padding-top: 0px;
        float: none;
        margin: auto;
        width: 100%;
        max-width: 600px;
        margin-top: 40px
    }
    .staking-section {
        padding-top: 100px;
        padding-bottom: 40px;
    }
}